:root {
    --main-color: #CEBD47;
}
.btn-light {
    border: 1px solid var(--main-color);
}
#result {
    display: none;
    margin: 0 auto;
    border: 1px solid var(--main-color);
}
.card-body {
    text-align: center;
}
.card-header {
    background-color: var(--main-color);
    color: white;
}
#next {
    background-color: var(--main-color);
    color: white;
}
i {
    font-size: 100px !important;
    color: var(--main-color);
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}