body{
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.heading{
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 10px;
}

#toDo{
    text-align: center;
    padding-left: 0 !important;
    width: 60%;
}

.list_task{
    list-style-type: none;
    margin-bottom: 8px;
}

.btn{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding-left: auto;
    padding-right: auto;
    width: 100%;
    transition: all 1.5ms;
    border: 0px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.done .btn{
    text-decoration: line-through;
    color: rgb(173, 173, 173);
}

.done .btn:hover{
    color: #ddd;
}

.notDone .btn{
    color: #f29e25;
}

.name a{
    color: #4387d0;
    text-decoration: none;
    font-weight: 600;
}