body {
    background-color: lavender;
}

input {
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    background-color: lavender;
}
input:focus {
    outline: none;
}

#fav, #toDo {
    display: none;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
    color: gray;
    margin-top: 15px;
}

ul li {
    margin: 1%;
    border-radius: 0.3em;
    color: #666;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
}

ul li button {
    margin-left: 1.2em;
    display: flex;
    position: relative;
    justify-content: right;
}
.fa-trash {
    color: red;
}

.fa-edit {
    color: teal;
}

li {
   background-color: #eee;
   margin: 5px;
}
